@import './Global.scss';

.bgContentHeader{
  display: grid;
  grid-template-columns: repeat(4, 25%);
  align-items: center;
  text-align: right;

  a{
    @include type-2(25);
    font-weight: 700;
    font-style: normal;
    color: #212121;
  }
}

.bgHeader{
  padding: 14px 0 16px 0;
  box-shadow: 0px 4px 16px rgba(1, 28, 64, 0.2);
}
