@import './Global.scss';

.bgAllCards{
  display: grid;
  grid-template-columns: repeat(6, 16%);
  grid-gap: 10px;
}

.rock {
  background-color: #483D8B;
}

.ghost {
  background-color: #696969;
}

.electric {
  background-color: #FFCE4B;;
}

.bug {
  background-color: #b4e652;
}

.poison {
  background-color: #e0a7f6;
}

.normal {
  background-color: #8a81daef;
}

.fairy {
  background-color: rgba(255, 192, 203, 0.863);
}

.fire {
  background: #FB6C6C;
}

.grass {
  background-color: #46D7AB;
}

.water {
  background-color:#7fcad4
  ;
}

.ground{
    background-color: #d87e55;
}

.psychic{
    background-color: #dbb3db;
}

.fighting{
  background-color: #FF8C00;
}

.ice{
  background-color:#ADD8E6;
}

.dragon{
    background-color: #4682B4;
}

.steel{
 background-color: 	#8FBC8F;
}

.dark{
    background-color: #2F4F4F;
}