@import './Global.scss';

.bgSearchPoke{
  padding-top: 73px;

    h1{
      @include type-1(35);
      font-weight: 400;
      letter-spacing: 3px;
      font-style: normal;
      margin-bottom: 33px;
    }
}

.bgInputSearch{
  border: 1px solid #F1F1F1;
  border-radius: 40px;
  box-shadow: 4px 4px 16px rgba(1, 28, 64, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 31px;

    input{
      border: none;
      width: 100%;
      outline: none;
      padding: 16px 0;
      @include type-1(16);
      font-weight: 400;
      font-style: normal;
    }

    img{
      width: 24px;
      height: 24px;
    }
}

.bgAllCards{
  display: grid;
  grid-template-columns: repeat(6, 16%);
  grid-gap: 10px;
}

.rock {
  background-color: #483D8B;
}

.ghost {
  background-color: #696969;
}

.electric {
  background-color: #FFCE4B;;
}

.bug {
  background-color: #b4e652;
}

.poison {
  background-color: #e0a7f6;
}

.normal {
  background-color: #8a81daef;
}

.fairy {
  background-color: rgba(255, 192, 203, 0.863);
}

.fire {
  background: #FB6C6C;
}

.grass {
  background-color: #46D7AB;
}

.water {
  background-color:#7fcad4
  ;
}

.ground{
    background-color: #d87e55;
}

.psychic{
    background-color: #dbb3db;
}

.fighting{
  background-color: #FF8C00;
}

.ice{
  background-color:#ADD8E6;
}

.dragon{
    background-color: #4682B4;
}

.steel{
 background-color: 	#8FBC8F;
}

.dark{
    background-color: #2F4F4F;
}